name: sample-ci-workflow
on: 
  workflow_dispatch
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: install-maven
        run: |
           sudo apt update -y
           sudo apt install maven -y
      - name: build a artifactory
        run: mvn -B clean package
        
  sonar-check:
     runs-on: self-hosted
     needs: build
     steps:
     - name: testing
       run: |
            mvn clean verify sonar:sonar \
            -Dsonar.host.url=http://15.206.190.185:9000 \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} 
  docker-build:
    runs-on: self-hosted
    needs: sonar-check
    steps:
      - name: buil the image
        run: |
          docker build -t venkat956/ actionsdemo:latest .

       

       
